#title {
	color: rgb(80,20,20);
	text-align: center;
	font-size: 360%;
}

.payment-field {



	text-align: left;
}

.expiration-field {

	size: "2";


}

.field-row {


	background-color: red;
}

.field-label {

text-align: right;
align: right;


}

.field-input {

align: left;
border-color: red;


}

.the-thing {

	text-align: center;
}

.exp-year {

	text-align: center;
}

#payment-form {

	background-color: rgb(100,3,60);
	width: 700px;


	margin-left: auto;
	margin-right: auto;
}